* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Be_Vietnam_Bold;
  src: url(/static/fonts/BeVietnam-Bold.ttf);
}

@font-face {
  font-family: Be_Vietnam_Regular;
  src: url(/static/fonts/BeVietnam-Regular.ttf);
}
//COLOURS
$contrast: #07636b;
$nav: #a7ff83;
$bg: #f4ffef;
//FONTS
$bold: Be_Vietnam_Bold;
$regular: Be_Vietnam_Regular;

body {
  font-family: $regular;
}
